* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    margin: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffd904a4, #e05f15); 
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 70px;
    font-family: 'Impact', 'fantasy';
}

h4{
    font-family: 'Bradley Hand', 'cursive';
}

body {
    background-image: url("images/background4k.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

body {
    background-position: relative; 
    z-index: 2; 
}

span{
    size: 50cm;
}

nav ul li a {
    display: inline-block; /* Permet de définir la largeur et la hauteur */
    text-align: center; /* Centre le contenu horizontalement */
    position: relative; /* Permet de positionner le texte en bas */
}

nav ul li a img {
    max-width: 100%; /* Assure que l'image reste dans les limites du conteneur */
}

nav ul li a span {
    display: block; /* Permet de définir la largeur et la hauteur */
    font-size: 16px; /* Modifiez la taille de la police selon vos préférences */
    font-family: Arial, sans-serif; /* Modifiez la police selon vos préférences */
    position: absolute; /* Permet de positionner le texte en bas */
    bottom: 0; /* Positionne le texte en bas */
    width: 100%; /* Assure que le texte occupe toute la largeur */
    background-color: rgba(0, 0, 0, 0.7); /* Ajoute un fond semi-transparent */
    border-radius: 10px;
    color: #dabd19; /* Couleur du texte */
    padding: 5px 0; /* Espace autour du texte */
}

nav ul li a img {
    width: 150%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


